h1,
h2,
h3,
p {
    margin: 0;
}

ul,
ol {
    list-style-type: none;
    margin: 0;
    padding-left: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

body {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    color: #434455;
    background-color: #ffffff;
    letter-spacing: 0.02em;
}

a:hover {
    color: #404bbf;
}

a {
    text-decoration: none;
    color: currentColor; 
}           

.hero-button:hover,
.hero-button:focus {
    background-color: #404bbf;
}

.header {
    border-bottom: 1px solid #e7e9fc;
 }

.container {
    max-width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
}

.nav-list {
    display: flex;
    gap: 40px;
}

.logo {
    display: inline-block;
    margin-right: 76px;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #2e2f42;
    text-decoration: none;
}

.logo-accent {
    color: #4d5ae5;
}

.nav-link {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-decoration: none;
    padding: 24px 0;
    display: block;
}


.nav-item {
    display: flex;
    align-items: center;
    gap: 40px;
    justify-content: space-between;
}
.nav-link:hover,
.nav-link:focus {
    color: #404bbf;
}

.header-contacts {
    display: flex;
    margin-left: auto;
    font-style: normal;
}

.header>.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.contacts-list {
    display: flex;
    gap: 40px;
    margin-left: auto;
}
.contacts-link {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    text-decoration: none;
}

.contacts-link:hover,
.contacts-link:focus {
    color: #404bbf;
}

.hero {
    background-color: #2e2f42;
    color: #ffffff;
    padding: 188px 0;
}

.hero-title {
    font-size: 56px;
    margin: 0 auto;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #ffffff;
    padding-bottom: 48px;
    max-width: 496px;;
}

.hero-button {   
    border-radius: 4px;
    padding: 16px 32px;
    font-size: 16px;
    color: #ffffff;
    background-color: #4d5ae5;
    border: none;
    cursor: pointer;
    display: block;
    margin: 0 auto;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
    }

.features {
    padding: 120px 0;
}

.features-list {
    display: flex;
    gap: 24px;
    list-style: none;
    margin: 0;
    padding: 0;
}

.features-item {
    width: calc((100% - 72px) / 4);
}


.features-subtitle {
    font-size: 20px;
    line-height: 1.2;
    font-weight: 500;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.features-text {
    width: 264px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}


.team-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-align: center;
    margin-bottom: 72px;
}

.team-info {
    padding: 32px 16px;
}

.team {
    background-color: #f4f4fd;
    font-size: 36px;
    letter-spacing: 0.02em;
    line-height: 1.11;
    padding: 120px 0
}

.team-item {
    background-color: #ffffff;
    border-radius: 0 0 4px 4px;
    padding: 0;
    width: calc((100% - 72px) / 4);
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
            0px 1px 1px rgba(46, 47, 66, 0.16),
            0px 2px 1px rgba(46, 47, 66, 0.08);
}

.team-list {
    display: flex;
    justify-content: center;
    gap: 24px;
}

.team-name {
    font-size: 20px;
    line-height: 1.2;
    font-weight: 500;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
    text-align: center
}

.team-position {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin: 0px;
    text-align: center
}

.portfolio > .container {
    margin: 0 auto;
    padding: 0 15px;
}

.portfolio-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-align: center;
    margin-bottom: 72px;
    }

.portfolio-list  {
    display: flex;
    flex-wrap: wrap;
    gap: 48px 24px;
    list-style: none;
    padding: 0;
    margin: 0;
}

.portfolio {
    padding: 120px 0;
}

.portfolio-item {
    width: calc((100% - 48px) / 3);
}

.portfolio-info {
    border: 1px solid #e7e9fc;
    border-top: none;
    padding: 32px 16px;
}

.portfolio-content {
    padding: 10px;
}

.portfolio-name {
    font-size: 20px;
    line-height: 1.2;
    font-weight: 500;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.portfolio-category {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.footer {
    padding: 100px 0;
    background-color: #2e2f42;
}

.footer .logo {
    color: #f4f4fd;
    display: inline-block;
    margin-bottom: 16px;
}

.logo-footer .logo-accent {
    color: #4d5ae5;
}

.footer-text {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    max-width: 264px;
}