
ul,
ol {
    list-style-type: none;
}

body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #ffffff;
    letter-spacing: 0.02em;
}

a:hover {
    color: #404bbf;
}

a {
    text-decoration: none;
    color: currentColor; 
}           

.hero-button:hover,
.hero-button:focus {
    background-color: #404bbf;
}

.header > .container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 24px;
    padding-bottom: 24px;
    padding: 0 15px;
}

.nav-list {
    display: flex;
    gap: 40px;
}

.logo {
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #2e2f42;
    text-decoration: none;
    padding-left: 156px;
}

.logo-accent {
    color: #4d5ae5;
}

.nav-link {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-decoration: none;
}

.nav-link:hover,
.nav-link:focus {
    color: #404bbf;
}

.header-contacts {
    display: flex;
}

.contacts-list {
    display: flex;
    margin-left: auto;
    padding-right: 156px;
    gap: 40px;
    padding-left: 332px;
}
.contacts-link {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    text-decoration: none;
}

.contacts-link:hover,
.contacts-link:focus {
    color: #404bbf;
}

.hero {
    background-color: #2e2f42;
    padding: 188px 472px;
    
}

.hero-title {
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #ffffff;
    margin-bottom: 48px;
}

button {
    background-color: #4D5AE5;
    color: #FFFFFF;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
}

.hero-button {   
    border-radius: 4px;
    padding: 16px 32px;
    font-size: 16px;
    color: #ffffff;
    background-color: #4d5ae5;
    border: none;
    cursor: pointer;
    display: block;
    margin: 0 auto;
}


section {
    padding-top: 120px;
    padding-bottom: 120px;
}

.features-title {
    font-size: 24px;
    margin-bottom: 20px;
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
    }

.features-list {
    justify-content: center;
    display: flex;
    gap: 24px;
    margin-left: 156px;
    margin-right: 156px;
}


.features-subtitle {
    font-size: 20px;
    line-height: 1.2;
    font-weight: 500;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}
.features-text {
    width: 264px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

section.team {
    padding: 120px 156px;
}

.team-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-align: center;
    margin-bottom: 72px;
}

.team {
    background-color: #f4f4fd;
    padding: 60px 0;
    
}

.team-item {
    background-color: #ffffff;
    border-radius: 0 0 4px 4px;
    padding: 0 0 32px;

}

.team-list {
    display: flex;
    justify-content: center;
    gap: 24px;
}

.team-name {
    font-size: 20px;
    line-height: 1.2;
    font-weight: 500;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin: 32px 0 8px;
    text-align: center
}

.team-position {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-bottom: 32px;
    text-align: center
}

.portfolio > .container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 15px;
}

.portfolio-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 24px;
    
}

.portfolio-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-align: center;
    margin-bottom: 72px;
    }

.portfolio {
    padding: 120px 0;
}

.portfolio-item {
    border: 1px solid #e7e9fc;
}

.portfolio-info {
    border: 1px solid var(--cornflower);
    border-top: none;
    padding: 32px 16px;
}

.portfolio-content {
    padding: 10px;
}

.portfolio-name {
    font-size: 20px;
    line-height: 1.2;
    font-weight: 500;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.portfolio-category {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.footer {
    background-color: #2e2f42;
    padding: 40px 0;
}

.footer .logo {
    color: #f4f4fd;
}

.logo-footer .logo-accent {
    color: #4d5ae5;
}

.footer-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    max-width: 264px;
    margin-top: 16px;
}